Examples/Infragistics.SamplesBrowser.WPF/TableOfContentsCrossShema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TOCSchema_Src" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:toc-schema" elementFormDefault="qualified" targetNamespace="urn:toc-schema" xmlns:tns="urn:toc-schema">
  <!-- Elements -->
  <xs:element name="SamplesBrowser" type="SamplesBrowser_TYPE">
    <xs:key name="flags">
      <xs:selector xpath="tns:Flags/tns:Flag" />
      <xs:field xpath="@val" />
    </xs:key>
  </xs:element>
  <xs:simpleType name="releaseVersionsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CTP" />
      <xs:enumeration value="8.1" />
      <xs:enumeration value="8.2" />
      <xs:enumeration value="9.1" />
      <xs:enumeration value="9.2" />
      <xs:enumeration value="10.1" />
      <xs:enumeration value="10.2" />
      <xs:enumeration value="10.3" />
      <xs:enumeration value="11.1" />
      <xs:enumeration value="11.2" />
      <xs:enumeration value="12.1" />
      <xs:enumeration value="12.2" />
      <xs:enumeration value="13.1" />
      <xs:enumeration value="13.2" />
      <xs:enumeration value="14.1" />
      <xs:enumeration value="14.2" />
      <xs:enumeration value="15.1" />
      <xs:enumeration value="15.2" />
      <xs:enumeration value="16.1" />
      <xs:enumeration value="16.2" />
      <xs:enumeration value="17.1" />
      <xs:enumeration value="17.2" />
	  <xs:enumeration value="18.1" />
	  <xs:enumeration value="18.2" />
	  <xs:enumeration value="19.1" />
	  <xs:enumeration value="19.2" />
      <xs:enumeration value="20.1" />
      <xs:enumeration value="20.2" />
      <xs:enumeration value="21.1" />
      <xs:enumeration value="21.2" />
      <xs:enumeration value="22.1" />
      <xs:enumeration value="22.2" />
      <xs:enumeration value="23.1" />
      <xs:enumeration value="23.2" />
      <xs:enumeration value="24.1" />
      <xs:enumeration value="24.2" />
      <xs:enumeration value="25.1" />
      <xs:enumeration value="25.2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="controlsGroupsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Barcodes" />
      <xs:enumeration value="Charts" />
      <xs:enumeration value="Editors" />
      <xs:enumeration value="Frameworks" />
      <xs:enumeration value="Gauges" />
      <xs:enumeration value="Grids" />
      <xs:enumeration value="Interactions" />
      <xs:enumeration value="Layouts" />
      <xs:enumeration value="Maps" />
      <xs:enumeration value="Menus" />
      <xs:enumeration value="Schedules" />
      <xs:enumeration value="Timelines" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="controlsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Barcode Reader" />
      <xs:enumeration value="Barcode" />
      <xs:enumeration value="Bullet Graph" />
      <xs:enumeration value="Busy Indicator" />
      <xs:enumeration value="Calculation Manager" />
      <xs:enumeration value="Calendar" />
      <xs:enumeration value="Carousel Listbox" />
      <xs:enumeration value="Carousel Panel" />
      <xs:enumeration value="Color Picker" />
      <xs:enumeration value="Color Tuner" />
      <xs:enumeration value="Combo Editor" />
      <xs:enumeration value="Combo Editor" />
      <xs:enumeration value="Context Menu" />
      <xs:enumeration value="Diagram" />
      <xs:enumeration value="Data Cards" />
      <xs:enumeration value="Data Carousel" />
      <xs:enumeration value="Data Chart" />
      <xs:enumeration value="Data Grid" />
      <xs:enumeration value="Data Presenter" />
      <xs:enumeration value="Data Pie Chart" />
      <xs:enumeration value="Dashboard Tile" />
      <xs:enumeration value="Data Tree" />
      <xs:enumeration value="Dialog Window" />
      <xs:enumeration value="Dock Manager" />
      <xs:enumeration value="Doughnut Chart" />
      <xs:enumeration value="Drag &amp; Drop Framework" />
      <xs:enumeration value="Editors" />
      <xs:enumeration value="Formula Editor" />
      <xs:enumeration value="Funnel Chart" />
      <xs:enumeration value="Financial Chart" />
      <xs:enumeration value="Gantt" />
      <xs:enumeration value="Geographic Map" />
      <xs:enumeration value="Grid" />
      <xs:enumeration value="Html Viewer" />
      <xs:enumeration value="Infragistics Compression" />
      <xs:enumeration value="Infragistics Excel" />
      <xs:enumeration value="Infragistics Math Calculators" />
      <xs:enumeration value="Infragistics Math Library" />
      <xs:enumeration value="Infragistics Word" />
      <xs:enumeration value="Inputs" />
      <xs:enumeration value="Linear Gauge" />
      <xs:enumeration value="Map" />
      <xs:enumeration value="Menu" />
      <xs:enumeration value="Month Calendar" />
      <xs:enumeration value="MultiColumn Combo" />
      <xs:enumeration value="Network Node" />
      <xs:enumeration value="Org Chart" />
      <xs:enumeration value="Outlook Bar" />
      <xs:enumeration value="Persistence Framework" />
      <xs:enumeration value="Pie Chart" />
      <xs:enumeration value="Pivot Grid" />
      <xs:enumeration value="Property Grid" />
      <xs:enumeration value="Radial Gauge" />
      <xs:enumeration value="Radial Menu" />
      <xs:enumeration value="Resource Washer" />
      <xs:enumeration value="Ribbon" />
      <xs:enumeration value="RichText Editor" />
      <xs:enumeration value="Shape Chart" />
      <xs:enumeration value="Scatter Chart" />
      <xs:enumeration value="Schedule" />
      <xs:enumeration value="Segmented Display" />
      <xs:enumeration value="Slider" />
      <xs:enumeration value="Sparkline" />
      <xs:enumeration value="Spell Checker" />
      <xs:enumeration value="Spreadsheet" />
      <xs:enumeration value="Syntax Editor" />
      <xs:enumeration value="Syntax Parsing Engine" />
      <xs:enumeration value="Tab Control" />
      <xs:enumeration value="Tag Cloud" />
      <xs:enumeration value="Toolbar" />
      <xs:enumeration value="Theme Manager" />
      <xs:enumeration value="Tile Manager" />
      <xs:enumeration value="Timeline" />
      <xs:enumeration value="Tree" />
      <xs:enumeration value="Tree Grid" />
      <xs:enumeration value="Treemap" />
      <xs:enumeration value="Undo / Redo Framework" />
      <xs:enumeration value="Virtual Collection" />
      <xs:enumeration value="WPF Reporting" />
      <xs:enumeration value="Zoombar" />
      <xs:enumeration value="3D Surface Chart" />
	    <xs:enumeration value="Category Chart" />
    </xs:restriction>
  </xs:simpleType>
  <!--<xs:simpleType name="categoriesEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Data" />
      <xs:enumeration value="Display" />
      <xs:enumeration value="Editing &amp; Selection" />    
      <xs:enumeration value="Localization" />
      <xs:enumeration value="Navigation" />
      <xs:enumeration value="Organization" />
      <xs:enumeration value="Performance" />
      <xs:enumeration value="Style" />
    </xs:restriction>
  </xs:simpleType>-->
  <xs:simpleType name="sampleTypesEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FeatureSample" />
      <xs:enumeration value="ExtendedFeatureSample" />
      <xs:enumeration value="WindowLessFeatureSample" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tagsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="API" />
      <xs:enumeration value="Application Blocks" />
      <xs:enumeration value="Application Scenarios" />
      <xs:enumeration value="Appointments" />
      <xs:enumeration value="Azure" />
      <xs:enumeration value="Breaking Changes" />
      <xs:enumeration value="Calculations" />
      <xs:enumeration value="Charting" />
      <xs:enumeration value="Charting 3D" />
      <xs:enumeration value="Commands" />
      <xs:enumeration value="Composite UI Application Block" />
      <xs:enumeration value="Compression" />
      <xs:enumeration value="CTP" />
      <xs:enumeration value="Data Binding" />
      <xs:enumeration value="Data Presentation" />
      <xs:enumeration value="Deployment" />
      <xs:enumeration value="Design Environment" />
      <xs:enumeration value="Drilldown" />
      <xs:enumeration value="Editing" />
      <xs:enumeration value="Error Handling" />
      <xs:enumeration value="Exporting" />
      <xs:enumeration value="Extending" />
      <xs:enumeration value="Events" />
      <xs:enumeration value="FAQ" />
      <xs:enumeration value="Filtering" />
      <xs:enumeration value="Formatting" />
      <xs:enumeration value="Getting Started" />
      <xs:enumeration value="Grids" />
      <xs:enumeration value="Grouping" />
      <xs:enumeration value="How Do I" />
      <xs:enumeration value="Known Issues" />
      <xs:enumeration value="Layouts" />
      <xs:enumeration value="LINQ" />
      <xs:enumeration value="Localization" />
      <xs:enumeration value="MVC" />
      <xs:enumeration value="Navigation" />
      <xs:enumeration value="Paging" />
      <xs:enumeration value="Patterns and Practices" />
      <xs:enumeration value="Performance" />
      <xs:enumeration value="Persistence" />
      <xs:enumeration value="Printing" />
      <xs:enumeration value="Recurrences" />
      <xs:enumeration value="Reporting" />
      <xs:enumeration value="Resource Strings" />
      <xs:enumeration value="Sample Data Source" />
      <xs:enumeration value="Scheduling" />
      <xs:enumeration value="Section 508" />
      <xs:enumeration value="Selection" />
      <xs:enumeration value="SharePoint" />
      <xs:enumeration value="Sorting" />
      <xs:enumeration value="Styling" />
      <xs:enumeration value="Summaries" />
      <xs:enumeration value="Templating" />
      <xs:enumeration value="Theming" />
      <xs:enumeration value="Tips and Tricks" />
      <xs:enumeration value="Validation" />
      <xs:enumeration value="Virtualization" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREVIEW" />
      <xs:enumeration value="UPDATED" /> 
      <xs:enumeration value="NEW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LocalizableText" >
    <xs:simpleContent >
      <xs:extension base="xs:string">
         <xs:attribute name="flag" type="xs:NCName" />
         <xs:attribute name="lang" type="xs:NCName" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RouteType" >
    <xs:simpleContent >
      <xs:extension base="xs:string">
         <xs:attribute name="flag" type="xs:NCName" /> 
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SamplesBrowser_TYPE">
    <!-- Elements -->
    <xs:sequence>
      <xs:element name="Flags" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Flag" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="val" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueFlags">
          <xs:selector xpath="tns:Flag" />
          <xs:field xpath="@val" />
        </xs:unique>
      </xs:element>
      <xs:element name="route" type="RouteType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ControlGroups" type="ControlGroups_TYPE" minOccurs="1" maxOccurs="1" />
      <xs:element name="FeaturesPageEN" type="LocalizableText"  minOccurs="1" maxOccurs="unbounded"/>   
      <xs:element name="FeaturesPageJA" type="LocalizableText"  minOccurs="1" maxOccurs="unbounded"/>     
      <xs:element name="ShowcasesPageEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded"/>       
      <xs:element name="ShowcasesPageJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded"/>       
      <xs:element name="LinksPageEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded"/>        
      <xs:element name="LinksPageJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded"/>         
    </xs:sequence>
    <!-- Attributes -->
    <!--<xs:attribute name="ProductFamilyID" fixed="6" use="required" />-->
    <xs:attribute name="currentVersion" type="releaseVersionsEnum" use="required" />
  </xs:complexType>
  <xs:complexType name="ControlGroups_TYPE">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="ControlGroup" type="ControlGroup_TYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlGroup_TYPE">
    <xs:sequence>
      <xs:element name="displayNameEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="displayNameJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="Controls" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Control" type="Control_TYPE" minOccurs="1" maxOccurs="unbounded">
              <xs:keyref name="availableControlFlags" refer="tns:flags">
                <xs:selector xpath="." />
                <xs:field xpath="@flag" />
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="controlsGroupsEnum" use="required" />
  </xs:complexType>
  <xs:complexType name="Control_TYPE">
    <xs:sequence>
      <xs:element name="displayName" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="description" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="icon" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="welcome" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="assembly" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="Categories" minOccurs="1" maxOccurs="1">        
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Category" type="Category_TYPE" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>      
      <xs:element name="controlPageEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />  
      <xs:element name="controlPageJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />     
    </xs:sequence>
    <xs:attribute name="name" type="controlsEnum" use="required" />
    <xs:attribute name="route" type="xs:string" use="required" />
    <xs:attribute name="status" type="statusEnum" />
    <xs:attribute name="releaseVersion" type="releaseVersionsEnum" />
    <xs:attribute name="flag" type="xs:NCName" />
  </xs:complexType>
  <xs:complexType name="Category_TYPE">
    <xs:sequence>
      <xs:element name="displayNameEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="displayNameJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="description" type="LocalizableText" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="icon" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="welcome" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="assembly" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="Samples" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Sample" type="Sample_TYPE" minOccurs="1" maxOccurs="unbounded">
              <xs:keyref name="availableFlags" refer="tns:flags">
                <xs:selector xpath="." />
                <xs:field xpath="@flag" />
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <!--<xs:attribute name="name" type="categoriesEnum" use="required" />-->
    <xs:attribute name="name" type="xs:anyURI" use="required" />    
  </xs:complexType>
  <xs:complexType name="Sample_TYPE">
    <xs:sequence>
      <xs:element name="displayNameEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="displayNameJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="descriptionEN" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="descriptionJA" type="LocalizableText" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="shortdescription" type="LocalizableText" minOccurs="0" maxOccurs="1" />
      <xs:element name="fallback" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="start" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="assembly" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      <xs:element name="CodeFiles" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CodeFile" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="path" type="xs:anyURI" use="required" />
                <xs:attribute name="isStartUp" type="xs:boolean" use="optional" default="false" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Tags" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <!--<xs:element name="Tag" type="tagsEnum" minOccurs="1" maxOccurs="unbounded" />-->
            <xs:element name="Tag" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="status" type="statusEnum" />
    <xs:attribute name="releaseVersion" type="releaseVersionsEnum" />
    <xs:attribute name="outputType" type="sampleTypesEnum" use="optional" />
    <xs:attribute name="flag" type="xs:NCName" />
    <xs:attribute name="route" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>