Applications/IGFinanceDashboard/Service References/StockDataServiceProxy/StockDataServiceProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infragistics.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infragistics.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockPriceItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockPriceItem" nillable="true" type="tns:StockPriceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockPriceItem" nillable="true" type="tns:ArrayOfStockPriceItem" />
  <xs:complexType name="StockPriceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Close" type="xs:double" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dividend" type="xs:double" />
      <xs:element minOccurs="0" name="High" type="xs:double" />
      <xs:element minOccurs="0" name="Low" type="xs:double" />
      <xs:element minOccurs="0" name="Open" type="xs:double" />
      <xs:element minOccurs="0" name="Split" type="xs:double" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockPriceItem" nillable="true" type="tns:StockPriceItem" />
</xs:schema>