Applications/IGFinanceDashboard/Service References/StockDataServiceProxy/StockDataServiceProxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:7259/Services/StockDataServiceProxy.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:7259/Services/StockDataServiceProxy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7259/Services/StockDataServiceProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infragistics.Framework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StockDataServiceProxy_RequestStockData_InputMessage">
    <wsdl:part name="parameters" element="RequestStockData" />
  </wsdl:message>
  <wsdl:message name="StockDataServiceProxy_RequestStockData_OutputMessage">
    <wsdl:part name="parameters" element="RequestStockDataResponse" />
  </wsdl:message>
  <wsdl:message name="StockDataServiceProxy_RequestStockHistory_InputMessage">
    <wsdl:part name="parameters" element="RequestStockHistory" />
  </wsdl:message>
  <wsdl:message name="StockDataServiceProxy_RequestStockHistory_OutputMessage">
    <wsdl:part name="parameters" element="RequestStockHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="StockDataServiceProxy">
    <wsdl:operation name="RequestStockData">
      <wsdl:input wsaw:Action="urn:StockDataServiceProxy/RequestStockData" message="StockDataServiceProxy_RequestStockData_InputMessage" />
      <wsdl:output wsaw:Action="urn:StockDataServiceProxy/RequestStockDataResponse" message="StockDataServiceProxy_RequestStockData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestStockHistory">
      <wsdl:input wsaw:Action="urn:StockDataServiceProxy/RequestStockHistory" message="StockDataServiceProxy_RequestStockHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:StockDataServiceProxy/RequestStockHistoryResponse" message="StockDataServiceProxy_RequestStockHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>