Applications/FinanceDashboard/IGFinanceDashboard/Service References/StockDataServiceProxy/StockDataServiceProxy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7259/Services/StockDataServiceProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infragistics.Framework" />
  <xs:element name="RequestStockData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStockDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestStockDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStockHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStockHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infragistics.Framework" minOccurs="0" name="RequestStockHistoryResult" nillable="true" type="q1:ArrayOfStockPriceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>